FeTS2022/
# Ignore FeTS dataset anywhere
FeTS2022/
**/FeTS2022/

# Safety for any nested dataset copies
*/FeTS2022/*
FeTS2022/
2026-02-24/
ice4ai-claim-*/
*.nii
*.nii.gz
*.dcm

*.pt

*.h5
logs/
checkpoints/
__pycache__/
.DS_Store
.PNG
.JPG
.JPEG
.png
*.png
.DS_Store
*.PNG 
*.JPG
*.JPEG
