.env
*.pyc
cufile.log
*.ipynb_checkpoints
#*.png
*.pth
Revision/Run_UNET_IID_Fedavg_20260119/Server/ServerReport20260119.log
Revision/Run_UNET_IID_Fedavg_20260119/Server/PerSampleDice_Round0.csv
Revision/Run_UNET_IID_Fedavg_20260119/Server/ServerReport.csv
